/* --------------------------------------- */
/* BASIC
/* --------------------------------------- */

/* Root */

html {
	font-size: 10px;
}

body {
	font-family: "Maven Pro", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}


/* Grid */

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1024px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-half {
	flex: 0 0 100%;
	max-width: 100%;
}

@media (min-width: 576px) {
	.col-half {
		flex: 0 0 50%;
		max-width: 50%;
	}
}


/* --------------------------------------- */
/* COMMON
/* --------------------------------------- */

/* Header */

.app-link {
	display: inline-flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.app-link__logo {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #F0F0F0;
}

.app-link__name {
	margin-left: 10px;
	font-size: 1.75rem;
	font-weight: 700;
	color: #000;
}

@media (min-width: 768px) {
	.app-link {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.app-link__name {
		margin-left: 20px;
		font-size: 2rem;
	}
}


/* --------------------------------------- */
/* HOME PAGE
/* --------------------------------------- */

/* Hero */

.hero-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hero-image {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 280px;
	height: auto;
}

.hero-text {
	padding-left: 30px;
	padding-right: 20px;
	text-align: center;
}

.hero-text__title {
	font-family: Montserrat, sans-serif;
	font-size: 2.75rem;
	font-weight: 700;
	margin-bottom: 30px;
}

.hero-text__subtitle {
	font-size: 1.5rem;
	margin-bottom: 30px;
}

@media (min-width: 576px) {
	.hero-text {
		padding-top: 20px;
		text-align: left;
	}
}

@media (min-width: 768px) {
	.hero-wrapper {
		max-width: 700px;
	}

	.hero-text__title {
		font-size: 3.5rem;
	}
}


/* Footer */

.footer-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav {
	text-align: center;
}

.nav__link {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.2rem;
}

.author {
	padding-top: 30px;
	font-size: 1.25rem;
	text-align: center;
	text-transform: uppercase;
}


/* --------------------------------------- */
/* PRIVACY POLICY PAGE
/* --------------------------------------- */

.heading {
	padding-top: 60px;
	padding-bottom: 60px;
}

.heading__text {
	font-size: 2.75rem;
}

.content-item {
	margin-bottom: 40px;
}

.content-item__title {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.content-item__subtitle {
	font-size: 1.5rem;
}

a.email {
	text-decoration: underline;
}

@media (min-width: 768px) {
	.privacy-wrapper {
		max-width: 700px;
	}

	.heading__text {
		font-size: 3.5rem;
	}
}